<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC
        "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.example.mapper.LeaveformMapper">
    <select id="selectById" parameterType="long" resultType="org.example.entity.LeaveForm">
        select * from adm_leave_form where form_id=#{value}
    </select>
    <insert id="into" parameterType="org.example.entity.LeaveForm"
            useGeneratedKeys = "true" keyColumn = "form_id" keyProperty = "formId">
            INSERT INTO adm_leave_form
            values (null,#{employeeId},#{formType},#{startTime},#{endTime},#{reason},#{createTime},#{state})
    </insert>
    <update id="update" parameterType="org.example.entity.LeaveForm"
            useGeneratedKeys = "true" keyColumn = "form_id" keyProperty = "formId">
            UPDATE adm_leave_form
                SET employee_id =#{employeeId},
                    form_type =#{formType},
                    start_time = #{startTime},
                    end_time=#{endTime},
                    reason=#{reason},
                    state=#{state},
                    create_time = #{createTime}
                WHERE form_id =#{formId}
    </update>
</mapper>